<main class="main__content_wrapper">
    
    <!-- Start privacy policy section -->
    <div class="privacy__policy--section section--padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="privacy__policy--content">
                        <h2 class="privacy__policy--content__title">Términos y condiciones de Open Import</h2>
                        
                    </div>
                    <div class="privacy__policy--content section_2">
                        <h2 class="privacy__policy--content__title">Bienvenido a OPENIMPORTEC.COM</h2>
                        <h3 class="privacy__policy--content__subtitle">Estos términos y condiciones describen las reglas y normas de uso del sitio web de OPENIMPORTEC.COM</h3>
                        <h3 class="privacy__policy--content__subtitle">OPENIMPORTEC.COM es una empresa dedicada a la importación de artículos y equipos de tecnología, accesorios para el uso en empresas y personal, ubicada en Ecuador.</h3>
                        <p class="privacy__policy--content__desc">Lea atentamente estos términos y condiciones, ya que le ayudarán a tomar decisiones informadas sobre cómo compartir su información personal con nosotros. Aunque estos términos y condiciones se aplican solo a la información recopilada a través del sitio web, son coherentes con nuestras políticas y prácticas con respecto a la información personal que recibimos.</p>
                        <h3 class="privacy__policy--content__subtitle">¿Qué es la Información de acceso?</h3>
                        <p class="privacy__policy--content__desc">La Información de Identificación Personal (IIP) que recibamos, entre otros, mediante los formularios de contacto, suscripción, registro u otros que estén en la página web. La IIP incluye información de identificación, información de contacto e información técnico,
                        entre otros datos:
						Nombres y apellidos
						Correo electrónico
						Números de teléfono
						Documento de identidad
						Ciudad y país de residencia
						Datos anónimos relacionados con el comportamiento del usuario durante la visita a la
						página web, sea a través de cookies, píxeles o tecnologías similares. Entre otros,
						podríamos recopilar el tiempo de la visita y los contenidos visitados.
						Datos anónimos relacionados con las herramientas de acceso y su interacción con la página
						web, tales como dirección IP, características del navegador y dispositivo, preferencias de
						idioma o URL de referencia y otra información técnica.</p>
                       <h3 class="privacy__policy--content__subtitle">¿Cómo usamos esta información?</h3>
                        <p class="privacy__policy--content__desc">Los datos descritos en el punto anterior se utilizan con objetivos de ventas de nuestras
						empresa, así como para mantener y cumplir las obligaciones contractuales, legales y de
						transparencia que exijan algún tipo de comunicación. Parte de los datos se utilizan como referencia para optimizar la pertinencia de los contenidos y para garantizar la integridad,
						confidencialidad y disponibilidad de la información.
						La IIP se emplea para contactar los servicios o ventas de artículos en nuestra tienda
						OPENIMPORTEC.COM</p>
						<p class="privacy__policy--content__desc">La IIP sirve para mantener la relación con las partes interesadas de OPENIMPORTEC.COM
						(por ejemplo: clientes o aliados) con el fin de dar curso a las actividades y obligaciones que
						se lleven en conjunto.
						La IIP y los datos anónimos se emplean para identificar si los contenidos son pertinentes y
						relevantes de acuerdo con sus intereses, así como para identificar mejoras en nuestros
						canales de comunicación en términos de experiencia del usuario y diseño.
						Los datos relacionados con las herramientas de acceso se emplean tanto para identificar
						mejoras en el desempeño de nuestra web, como para garantizar el funcionamiento de
						nuestro sitio, su seguridad y la de su información.
						Las comunicaciones que empleamos con estos datos son principalmente mediante, pero no
						limitado a, correos electrónicos, mensajes de correo postal, llamadas telefónicas y difusión
						de anuncios en plataformas digitales.</p>
                        <h3 class="privacy__policy--content__subtitle">¿Debo registrarme en la tienda?</h3>
                        <p class="privacy__policy--content__desc">SI, ya que es necesario cumplir con esta opción para cumplir con la seguridad requerida para pagos
						con tarjetas de débito y crédito, de esa manera se garantiza la confiabilidad de la
						información.</p>
						<h3 class="privacy__policy--content__subtitle">¿Qué puedo hacer con mi cuenta de usuario?</h3>
                        <p class="privacy__policy--content__desc">Una vez que se registra en nuestra tienda, pude seguir viendo el catálogo de productos,
						optar por hacer futuras compras, hacer seguimiento a su pedido y ver un historial de
						compra, optar por cupones de descuento luego de la segunda compra</p>
						<h3 class="privacy__policy--content__subtitle">Devoluciones y Cancelaciones.</h3>
                        <p class="privacy__policy--content__desc">Para cualquier cuestión de cambio, devolución o cancelación, favor de escribirnos primero a
						ventas@openimportec.com contándonos los detalles de lunes a sábado de 9:00 am a
						7:00pm, te recomendamos tener tu número de pedido a la mano para poder darte respuesta
						rápido.</p>
						<h3 class="privacy__policy--content__subtitle">¿Qué hago si quiero devolver mi pedido?</h3>
                        <p class="privacy__policy--content__desc">En OPENIMPORTEC.COM brindamos la opción de devolución por algún defecto de fábrica
						y el mismo tiene un tiempo máximo de 3 días hábiles.
						Para cualquier cuestión de cambio, devolución o cancelación, favor de primero escribirnos a
						vetas@oenimportec.com de lunes a sábado de 9:00 am a 7:00pm, te recomendamos tener
						tu número de pedido a la mano para poder darte respuesta rápido. Ten en cuenta que el producto debe venir sin usarse y sin defectos o maltratos. Una vez que
						nosotros recibamos de regreso tu devolución será evaluada por nuestro equipo y te
						daremos una respuesta lo antes posible.</p>
                        <h3 class="privacy__policy--content__subtitle">¿Tienen garantía mis artículos?</h3>
                        <p class="privacy__policy--content__desc">Nuestros productos en OPENIMPORTEC.COM tienen garantía por defectos de fabricación.
						Así que no te preocupes que tus artículos están garantizados.</p>
                        
                    </div>
                    <div class="privacy__policy--content section_3">
                        <h2 class="privacy__policy--content__title">Cookies:</h2>
                        <p class="privacy__policy--content__desc">El sitio web utiliza cookies para ayudar a personalizar su experiencia en línea.
						Al acceder a OPENIMPORTEC.COM, usted acepta el uso de las cookies necesarias.

						Una cookie es un archivo de texto que es colocado en su disco duro por un servidor de
						páginas web. Las cookies no se pueden utilizar para ejecutar programas o enviar virus a su
						ordenador. Las cookies se le asignan a usted de forma exclusiva y sólo pueden ser leídas
						por un servidor web en el dominio que emitió la cookie para usted.
						Podemos utilizar cookies para recoger, almacenar y rastrear información con fines
						estadísticos o de marketing para el funcionamiento de nuestro sitio web. Usted tiene la
						posibilidad de aceptar o rechazar las cookies opcionales. Hay algunas cookies obligatorias
						que son necesarias para el funcionamiento de nuestro sitio web. Estas cookies no requieren
						su consentimiento ya que siempre funcionan. Por favor, tenga en cuenta que al aceptar las
						Cookies requeridas, también acepta las Cookies de terceros, que podrían ser utilizadas a
						través de servicios proporcionados por terceros si usted utiliza dichos servicios en nuestro
						sitio web, por ejemplo, una ventana de visualización de vídeo proporcionada por terceros e
						integrada en nuestro sitio web.
						Licencia: A menos que se indique lo contrario, openimportec.com y/o sus licenciantes
						poseen los derechos de propiedad intelectual de todo el material de
						OPENIMPORTEC.COM. Todos los derechos de propiedad intelectual están reservados.
						Usted puede acceder a esto desde OPENIMPORTEC.COM para su uso personal sujeto a
						las restricciones establecidas en estos términos y condiciones.
						Usted no debe:
						Copiar o volver a publicar el material deOPENIMPORTEC.COM
						Vender, alquilar o sublicenciar el material de OPENIMPORTEC.COM
						Reproducir, duplicar o copiar material de OPENIMPORTEC.COM
						Redistribuir el contenido de OPENIMPORTEC.COM
						El presente acuerdo comienza en la fecha del mismo.
						Algunas partes de este sitio web ofrecen a los usuarios la oportunidad de publicar e
						intercambiar opiniones e información en ciertas áreas del sitio web. OPENIMPORTEC.COM
						no filtra, edita, publica o revisa los comentarios antes de su presencia en el sitio web. Los
						comentarios no reflejan los puntos de vista y opiniones de OPENIMPORTEC.COM, sus
						agentes y/o afiliados. Los comentarios reflejan los puntos de vista y las opiniones de la
						persona que los publica. En la medida en que lo permita la legislación aplicable,
						OPENIMPORTEC.COM no será responsable de los Comentarios ni de ninguna
						responsabilidad, daños o gastos causados y/o sufridos como resultado de cualquier uso y/o
						publicación y/o aparición de los Comentarios en este sitio web.
						OPENIMPORTEC.COM se reserva el derecho de supervisar todos los comentarios y
						eliminar cualquier comentario que pueda considerarse inapropiado, ofensivo o que suponga
						un incumplimiento de estos Términos y Condiciones.
						Usted garantiza y declara que:
						Tiene derecho a publicar los Comentarios en nuestro sitio web y tiene todas las licencias y
						consentimientos necesarios para hacerlo;
						Los Comentarios no invaden ningún derecho de propiedad intelectual, incluyendo, sin
						limitación, derechos de autor, patentes o marcas comerciales de terceros;
						Los Comentarios no contienen ningún material difamatorio, calumnioso, ofensivo, indecente
						o de cualquier otro modo ilegal, que suponga una invasión de la privacidad.
						Los Comentarios no se utilizarán para solicitar o promover negocios o costumbres o
						presentar actividades comerciales o ilegales.
						Por la presente, usted concede a OPENIMPORTEC.COM una licencia no exclusiva para
						utilizar, reproducir, editar y autorizar a otros a utilizar, reproducir y editar cualquiera de sus
						Comentarios en todas y cada una de las formas, formatos o medios.

						</p>
                        <p class="privacy__policy--content__desc">Hipervínculos a nuestro Contenido:
						Las siguientes organizaciones pueden enlazar con nuestro sitio web sin necesidad de
						aprobación previa por escrito:
						Agencias gubernamentales;
						Motores de búsqueda;
						Organizaciones de noticias;
						Los distribuidores de directorios en línea pueden enlazar con nuestro sitio web de la misma
						manera que lo hacen con los sitios web de otras empresas incluidas en la lista; y
						Empresas acreditadas en todo el sistema, excepto las organizaciones sin ánimo de lucro,
						los centros comerciales benéficos y los grupos de recaudación de fondos benéficos, que no
						pueden establecer un hipervínculo con nuestro sitio web. Estas organizaciones pueden
						enlazar con nuestra página de inicio, con publicaciones o con otra información del sitio web
						siempre que el enlace (a) no sea en modo alguno engañoso; (b) no implique falsamente el
						patrocinio, el respaldo o la aprobación de la parte que establece el enlace y sus productos
						y/o servicios; y (c) se ajuste al contexto del sitio de la parte que establece el enlace.
						Podemos considerar y aprobar otras solicitudes de enlace de los siguientes tipos de
						organizaciones fuentes de información de consumidores y/o empresas comúnmente
						conocidas</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- End privacy policy section -->

</main>
