     <!-- Start about section -->
        <section class="about__section section--padding mb-95">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about__thumb d-flex">
                            <div class="about__thumb--items">
                                <img class="about__thumb--img border-radius-5" src="assets/assetsParts/img/other/about.png" alt="about-thumb">
                            </div>
                           <!--  <div class="about__thumb--items position__relative">
                                <img class="about__thumb--img border-radius-5" src="assets/assetsParts/img/other/about-thumb-list2.webp" alt="about-thumb">
                                <div class="banner__bideo--play about__thumb--play">
                                    <a class="banner__bideo--play__icon about__thumb--play__icon glightbox" href="https://vimeo.com/115041822" data-gallery="video">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 31 37">
                                            <path id="Polygon_1" data-name="Polygon 1" d="M16.783,2.878a2,2,0,0,1,3.435,0l14.977,25.1A2,2,0,0,1,33.477,31H3.523a2,2,0,0,1-1.717-3.025Z" transform="translate(31) rotate(90)" fill="currentColor"/>
                                        </svg> 
                                        <span class="visually-hidden">bideo play</span>
                                    </a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about__content">
                            <span class="about__content--subtitle text__secondary mb-20">¿Quienes somos?</span>
                            <h2 class="about__content--maintitle mb-25">Open import - Ecuador</h2>
                            <p class="about__content--desc mb-20">Somos una empresa dedicada a la importación y venta de productos que tiene como objetivo facilitar tu estilo de vida.</p>
                            <p class="about__content--desc mb-25">Importamos y vendemos estos productos 100% garantizados en calidad de los mismos. Somos afiliados a Amazon lo que te permite adquirir productos mediante nuestro enlace directo.</p>
                            <p class="about__content--desc mb-25">Hacemos reportos a domicio a todo Quito y Ecuador.</p>
                            <div class="about__author position__relative">
                                <h3 class="about__author--name h4">Open Import</h3>
                                <span class="about__author--rank">Tu tienda e importadora de confiaza</span>
                               <!--  <img class="about__author--signature" src="assets/assetsParts/img/icon/signature.webp" alt="signature"> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End about section -->
         <section class="team__section section--padding">
            <div class="container">
                <div class="section__heading style2 text-center mb-40">
                    <h2 class="section__heading--maintitle">Equipo de trabajo</h2>
                </div>
                <div class="team__container">
                    <div class="row mb--n30">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 custom-col mb-30">
                            <div class="team__items text-center">
                                <div class="team__thumb">
                                    <img class="team__thumb--img" src="assets/assetsParts/img/other/team1.jpg" alt="team img">
                                </div>
                                <div class="team__content ">
                                    <h3 class="team__content--title">Ronny Pacheco</h3>
                                    <span class="team__content--subtitle">CEO - cofundador</span>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 custom-col mb-30">
                            <div class="team__items text-center">
                                <div class="team__thumb">
                                    <img class="team__thumb--img" src="assets/assetsParts/img/other/team2.jpg" alt="team img">
                                </div>
                                <div class="team__content">
                                    <h3 class="team__content--title">Gabriel Montalván</h3>
                                    <span class="team__content--subtitle">Socio - Cofundador</span>
                                   
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        <section class="shipping__section section--padding">
            <div class="container">
                <div class="shipping__inner mb-0 style2 d-flex">
                    <div class="shipping__items style2 d-flex align-items-center">
                        <div class="shipping__icon">  
                            <img src="assets/assetsParts/img/other/shipping1.png" alt="icon-img">
                        </div>
                        <div class="shipping__content">
                            <h2 class="shipping__content--title h3">Repartos  domicilio</h2>
                            <p class="shipping__content--desc">Pide hoy y llega mañana</p>
                        </div>
                    </div>
                    <div class="shipping__items style2 d-flex align-items-center">
                        <div class="shipping__icon">  
                            <img src="assets/assetsParts/img/other/shipping2.png" alt="icon-img">
                        </div>
                        <div class="shipping__content">
                            <h2 class="shipping__content--title h3">Soporte 12/6</h2>
                            <p class="shipping__content--desc">Soporte de lunes a sabado</p>
                        </div>
                    </div>
                    <div class="shipping__items style2 d-flex align-items-center">
                        <div class="shipping__icon">  
                            <img src="assets/assetsParts/img/other/shipping3.png" alt="icon-img">
                        </div>
                        <div class="shipping__content">
                            <h2 class="shipping__content--title h3">100% garantizados</h2>
                            <p class="shipping__content--desc">Aceptamos devoluciones por defecto de fabrica</p>
                        </div>
                    </div>
                    <div class="shipping__items style2 d-flex align-items-center">
                        <div class="shipping__icon">  
                            <img src="assets/assetsParts/img/other/shipping4.png" alt="icon-img">
                        </div>
                        <div class="shipping__content">
                            <h2 class="shipping__content--title h3">Pago seguro</h2>
                            <p class="shipping__content--desc">Hacemos uso de diferentes medios de pagos para su comidad y seguridad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>