  <!-- ===================================
              START THE HEADER
            ==================================== -->
            
            <!-- ===================================
              START THE SPACE STICKY
            ==================================== -->
            <div class="space-sticky"></div>
            <!-- ===================================
              START THE NFT SWIPER
            ==================================== -->
  
            <!-- ===================================
              START THE BEST SELLER
            ==================================== -->
            <section class="margin-t-20 unList-bestSeller">
                <!-- un-title-default -->
                <div class="un-title-default">
                    <div class="text">
                        <h2>Estilistas</h2>
                        <p>Seleccione un estilista para ver el detalle o asigne un trabajo</p>
                    </div>
                    <div class="un-block-right">
                        <a class="icon-back" aria-label="iconBtn" [hidden]="!_butler.list || _butler.deviceType!='Escritorio'" (click)="viewChange('grid') ">
                            <i class="ri-layout-grid-fill" style="font-size:1rem;" ></i>
                        </a>
                        <a class="icon-back" aria-label="iconBtn" [hidden]="!_butler.grid" (click)="viewChange('list')">
                            <i class="ri-list-check"  style="font-size:1rem;"></i>
                        </a>
                    </div>
                </div>

                <div class="discover-nft-random margin-t-20" [hidden]="!_butler.grid">
                    <div class="content-NFTs-body">
                        
                        <a  class="item-sm-card-NFTs "  *ngFor="let member of members$ | async"  style="cursor: pointer;" >
                            <div class="cover-image">
                                <picture  (click)="setPreview(member)">
                                    <source srcset="{{member.images[0]}}" type="image/webp">
                                    <img class="big-image" src="{{member.images[0]}}" alt="">
                                </picture>
                                <div class="content-text">
                                    <div class="btn-like-click" style="background:none;" >
                                       
                                          <div class="other-option" style="margin-right:2%; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#mdllUploadItem" (click)="openModal(2)">
                                    <div class="color-text rounded-pill bg-snow btn-xs-size " >
                                        <i class="ri-add-circle-fill text-primary" style="font-size: 1.3rem; margin-right: 10%; font-weight: initial;"> </i>
                                     Ticket
                                 </div>
                                </div>
                                    </div>
                                </div>
                                <div class="user-text">
                                    <div class="user-avatar">
                                        <picture>
                                            <source srcset="{{member.images[0]}}" type="image/webp">
                                            <img class="sm-user" src="{{member.images[0]}}" alt="">
                                        </picture>
                                        <span>{{member.name}}</span>
                                    </div>
                                    <div class="number-eth">
                                        <span class="main-price">{{member.categoria}}</span>
                                        <!-- <span>($3,650)</span> -->
                                    </div>
                                </div>
                            </div>
                        </a>
                       
                    </div>
                </div>




                <div class="content-list-sellers"[hidden]="!_butler.list">
                    <ul class="nav flex-column">
                        <li class="nav-item" *ngFor="let member of members$ | async" >
                            <div class="nav-link item-user-seller">
                                <a class="item-user-img"  (click)="setPreview(member)"  style="cursor: pointer;" >
                                    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/22.webp" type="{{member.images[0]}}">
                                        <img class="avt-img" src="{{member.images[0]}}" alt="">
                                    </picture>
                                    <div class="txt-user">
                                        <h5> <span>{{member.categoria}} </span></h5>
                                        <p>{{member.name}} <i class="ri-checkbox-circle-fill"></i> </p>
                                    </div>
                                </a>
                                <div class="other-option"  (click)="openModal(2)" style="margin-right:2%; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#mdllUploadItem">
                                    <div class="color-text rounded-pill bg-snow btn-xs-size " >
     <i class="ri-add-circle-fill text-primary" style="font-size: 1.3rem; margin-right: 10%; font-weight: initial;"> </i>
                                     Ticket</div>
                                </div>
                            </div>
                        </li>
                       
                    </ul>
                </div>
            </section>