 <main class="main__content_wrapper">
        
        <!-- Start error section -->
        <section class="error__section section--padding">
            <div class="container">
                <div class="row row-cols-1">
                    <div class="col">
                        <div class="error__content text-center">
                            <img class="error__content--img display-block mb-50" src="assets/assetsParts/img/other/pago-exitoso.png" alt="error-img">
                            <h2 class="error__content--title">Felicidades!! Su orden de compra ha sido procesada exitosamente.</h2>
                            <p class="error__content--desc">Nos comunicaremos con usted para constatar su pedido, Por favor finalice el pago.</p>
                            <a class="error__content--btn primary__btn" href="index.html"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End error section -->

       

    </main>