<div class="space-sticky"></div>

<section class="margin-t-20 unList-bestSeller">
    <!-- un-title-default -->
    <div class="un-title-default">
        <div class="text">
            <h2>Ajustes</h2>
        </div>
    </div>
</section>
<section class="un-navMenu-default without-visit">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['../specialties']">
                <div class="item-content-link">
                    <div class="icon bg-cyan-1 color-cyan">
                        <i class="ri-shield-star-fill"></i>
                    </div>
                    <h3 class="link-title">Especialidades</h3>
                </div>
                <div class="other-cc">
                    <span class="badge-text"> ({{_butler.especialidadesSize}})</span>
                    <div class="icon-arrow">
                        <i class="ri-arrow-drop-right-line"></i>
                    </div>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  [routerLink]="['../services']" >
                <div class="item-content-link">
                    <div class="icon bg-pink-1 color-pink">
                        <i class="ri-brush-fill"></i>
                    </div>
                    <h3 class="link-title">Servicios</h3>
                </div>
                <div class="other-cc">
                    <span class="badge-text"> ({{_butler.cardsSize}})</span>
                    <div class="icon-arrow">
                        <i class="ri-arrow-drop-right-line"></i>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</section>
