  <!-- ===================================
              START THE HEADER
            ==================================== -->
            
            <!-- ===================================
              START THE SPACE STICKY
            ==================================== -->
            <div class="space-sticky"></div>
            <!-- ===================================
              START THE NFT SWIPER
            ==================================== -->
  
            <!-- ===================================
              START THE BEST SELLER
            ==================================== -->
            <section class="margin-t-20 unList-bestSeller">
                <!-- un-title-default -->
                <div class="un-title-default">
                    <div class="text">
                        <h2>Especialidades</h2>
                        <!-- <p>Seleccione un estilista para ver el detalle o asigne un trabajo</p> -->
                    </div>
                    <div class="un-block-right">
                        <a class="icon-back" aria-label="iconBtn" [hidden]="!_butler.list || _butler.deviceType!='Escritorio'"  >
                            <i class="ri-layout-grid-fill" style="font-size:1rem;" ></i>
                        </a>
                        <a class="icon-back" aria-label="iconBtn" [hidden]="!_butler.grid" >
                            <i class="ri-list-check"  style="font-size:1rem;"></i>
                        </a>
                    </div>
                </div>

   <!--  -->


                <div class="content-list-sellers">
                    <ul class="nav flex-column">
                        <li class="nav-item" *ngFor="let specialty of specialties$ | async" [hidden]="specialty.status!='active'">
                            <div class="nav-link item-user-seller">
                                <a class="item-user-img"  >
                                 <!--    <picture>
                                        <source srcset="assets/assetsryal/images/avatar/22.webp" type="{{specialty.images[0]}}">
                                        <img class="avt-img" src="{{specialty.images[0]}}" alt="">
                                    </picture> -->
                                    <div class="txt-user">
                                        <h5> 
                                        	<!-- <span>{{specialty.categoria}} </span> -->
                                        </h5>
                                        <p>{{specialty.name}}
                                         <!-- <i class="ri-checkbox-circle-fill"></i>  -->
                                     </p>
                                    </div>
                                </a>
                                <div class="other-option" style="margin-right:2%; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#mdllUploadItem" (click)="delete(specialty)">
                                    <div class="color-text rounded-pill bg-snow btn-xs-size " >
     <i class="ri-delete-bin-fill text-danger" style="font-size: 1.3rem; margin-right: 10%; font-weight: initial;"> </i>
                                     Borrar</div>
                                </div>
                            </div>
                        </li>
                       
                    </ul>
                </div>
            </section>